/frogdroid/.gradle
/local.properties
/frogdroid/.idea
/frogdroid/.idea/*
/frogdroid/.idea/caches
/frogdroid/.idea/libraries
/frogdroid/.idea/modules.xml
/frogdroid/.idea/workspace.xml
/frogdroid/.idea/navEditor.xml
/frogdroid/.idea/assetWizardSettings.xml
/frogdroid/.idea/shelf/
/frogdroid/.DS_Store
/frogdroid/build
/frogdroid/captures
/frogdroid/.externalNativeBuild
.cxx
/frogdroid/local.properties
*.iml
/frogdroid/gradle
/local.properties
.DS_Store
/frogdroid/app/build/generated
/frogdroid/app/build/intermediates
/frogdroid/app/build/tmp
/frogdroid/captures
/frogdroid/.externalNativeBuild
/frogwin/.vs/frogWin/DesignTimeBuild/.dtbcache.v2
/frogwin/.vs/frogWin/v17/.suo
/frogwin/.vs/frogWin/v17
/frogwin/.vs
/frogwin/.vs
