/*
    froga.css ©
    2023-11-05 by Heinrich Elsigan
    https://area23.at/froga/froga.html
    https://darkstar.work/froga/
    2023-11-12 last change 
*/
/*
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    border-style: none;
    border-spacing: 0;
    border-width: 0;
*/

body.frogbody {
    border-color: white;
    color: white;
    background-color: black;
}

div.froga {
    width: 86%;
    min-width: 387pt;
    height: 84%;
    min-height: 378pt;
    line-height: normal;
    vertical-align: middle;
    /* 
            align-self: center;
            align-content: center;
            text-align: center;
            line-height: normal;        
            font-size: medium;
            table-layout: fixed;
            inset-block-start: initial;
            inset-block-start: auto;
    */
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    border-style: none;
    border-spacing: 0px;
    border-width: 0px;
    border-color: white;
    color: white;
    background-color: black;
}

    div.froga.frogaHeader {
        width: 80%;
        min-width: 360pt;
        height: 10%;
        min-height: 45pt;
        align-content: center;
        line-height: normal;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        border-style: none;
        border-spacing: 0px;
        border-color: white;
        color: white;
        background-color: black;
        background-repeat: no-repeat;
    }
        div.froga.frogaHeader#headerLeft {
            height: 10%;
            min-height: 45pt;
            width: 20%;
            min-width: 90pt;
            vertical-align: middle;
            font-size: larger;
            text-align: right;
        }
        div.froga.frogaHeader#leftNotes {
            color: whitesmoke;
            width: 5.33%;
            max-width: 24pt;
            font-size: large;
        }
        div.froga.frogaHeader#frogsInWhole {
            color: greenyellow;
        }
        div.froga.frogaHeader#frogsLeft {
            color: aqua;
            visibility: hidden;
        }
        div.froga.frogaHeader#frogsDied {
            color: gainsboro;
        }
        div.froga.frogaHeader#headerCenter {
            height: 10%;
            min-height: 45pt;
            width: 66%;
            min-width: 297pt;
            vertical-align: middle;
            font-size: medium;
            text-align: center;
        }
        div.froga.frogaHeader.headerImage {
            width: 60%;
            min-width: 270pt;
            height: 10%;
            min-height: 45pt;
            padding: 0 0 0 0;
            margin: 0 0 0 0;
            border-style: none;
            border-spacing: 0px;
            border-width: 0px;
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }
        div.froga.frogaHeader#headerRight {
            height: 10%;
            min-height: 45pt;
            width: 19.11%;
            min-width: 86pt;
            vertical-align: middle;
            font-size: larger;
            text-align: left;
        }
        div.froga.frogaHeader#frogsLevel {
            color: orangered;
        }
        div.froga.frogaHeader#frogaLevel {
            color: greenyellow;
        }
        div.froga.frogaHeader#rightNotes {
            color: whitesmoke;
            width: 5.33%;
            max-width: 24pt;
            font-size: large;
        }

    div.froga.frogaFooter {
        width: 80%;
        min-width: 360pt;
        height: 8%;
        min-height: 36pt;
        text-align: center;
        align-content: center;
        font-size: medium;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        border-style: none;
        border-color: white;
        color: white;
        background-color: black;
        table-layout: fixed;
        inset-block-start: initial;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
    }
        div.froga.frogaFooter#spanLeft {
            height: 8%;
            min-height: 36pt;
            width: 40%;
            min-width: 180pt;
            vertical-align: middle;
            text-align: left;
            border-color: white;
            color: white;
            background-color: black;
        }
        div.froga.frogaFooter#spanRight {
            height: 8%;
            min-height: 36pt;
            width: 40%;
            min-width: 180pt;
            vertical-align: middle;
            text-align: right;
            border-color: white;
            color: white;
            background-color: black;
        }


    div.froga.table.frogaTable {
        width: 80%;
        min-width: 360pt;
        height: 60%;
        min-height: 270pt;
        align-content: center;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        border-style: none;
        border-spacing: 0px;
        background-repeat: no-repeat;
    }
        div.froga.table.frogaTable.tr.frogaTr {
            width: 8%;
            /* min-width: 36pt; */
            height: 6%;
            min-height: 27pt;
            padding: 0 0 0 0;
            margin: 0 0 0 0;
            border-style: none;
            border-spacing: 0px;
            border-width: 0px;
            /* background-repeat: no-repeat; */
            background-size: 100% 100%;
        }
            div.froga.table.frogaTable.tr.frogaTr.td.frogaTd {
                width: 8%;
                /* min-width: 36pt; */
                height: 6%;
                min-height: 27pt;
                padding: 0 0 0 0;
                margin: 0 0 0 0;
                border-style: none;
                border-spacing: 0px;
                border-width: 0px;
                /* background-repeat: no-repeat; */
                background-size: 100% 100%;
            }


    div.froga.img {
        width: 8%;
        min-width: 36pt;
        height: 6%;
        min-height: 27pt;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        border-style: none;
        border-spacing: 0pt;
        border-width: 0pt;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
        div.froga.img.frogaWood {
            width: 100%;
            min-width: 36pt;
            height: 100%;
            min-height: 27pt;
            visibility: visible;
            padding: 0 0 0 0;
            margin: 0 0 0 0;
            border-style: none;
            border-spacing: 0px;
            border-width: 0px;
            background-repeat: no-repeat;
            z-index: 100;
            /* backface-visibility: revert; background-size: 100% 100%; */
        }
        div.froga.img.frogaImageWhole {
            width: 100%;
            min-width: 36pt;
            height: 100%;
            min-height: 27pt;
            padding: 0 0 0 0;
            margin: 0 0 0 0;
            border-style: none;
            border-spacing: 0px;
            border-width: 0px;
            background-repeat: no-repeat;
            /* background-size: 100% 100%; */
        }
        div.froga.img.frogaImage {
            width: 100%;
            min-width: 36pt;
            height: 100%;
            min-height: 27pt;
            padding: 0 0 0 0;
            margin: 0 0 0 0;
            border-style: none;
            border-spacing: 0px;
            border-width: 0px;
            background-repeat: no-repeat;
            /* background-size: 100% 100%; */
        }
            div.froga.img.frogaImage#frog0,
            div.froga.img.frogaImage#frog1,
            div.froga.img.frogaImage#frog2,
            div.froga.img.frogaImage#frog3 {
                width: 100%;
                min-width: 36pt;
                height: 100%;
                min-height: 27pt;
                padding: 0 0 0 0;
                margin: 0 0 0 0;
                border-style:;
                border-spacing: 0px;
                border-width: 0px;
                background-repeat: no-repeat;
                /* background-size: 100% 100%; */
            }
        div.froga.img#aUp,
        div.froga.img#aDown,
        div.froga.img#aLeft,
        div.froga.img#aRight {
            width: 7.11%;
            min-width: 32pt;
            height: 6%;
            min-height: 27pt;
            padding: 0 0 0 0;
            margin: 0 0 0 0;
            border-style: none;
            border-spacing: 0px;
            border-width: 0px;
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }

