/*
    2023-11-05  froga.js by Heinrich Elsigan (Copy left)
    https://area23.at/froga/
*/
body {
}


div {
    line-height: normal;
    vertical-align: middle;
    /*
        text-align: center;
        align-content: center;
        align-self: center;
        background-color: black;
    */
}

    div.frogaDIV {
        width: 100%;
        min-width: 360pt;
        height: 84%;
        min-height: 240pt;
        border-style: double;
        border-color: white;
        border-spacing: 2pt;
        border-width: 2pt;
        background-color: black;
        /* 
            align-self: center;
            align-content: center;
            text-align: center;
            line-height: normal;        
            font-size: medium;
            table-layout: fixed;
            inset-block-start: initial;
            inset-block-start: auto;
        */
    }

    div.frogaDIVHeader {
        width: 100%;
        min-width: 320pt;
        height: 36pt;
        min-height: 36pt;
        align-content: center;
        line-height: normal;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        border-style: none;
        border-spacing: 0px;
        background-repeat: no-repeat;
    }

    div.footerDiv {
        width: 100%;
        text-align: center;
        background-color: black;
        align-content: center;
        font-size: medium;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        border-style: none;
        table-layout: fixed;
        inset-block-start: initial;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
    }

table {
    width: 72%;
    min-width: 360pt;
    height: 54%;
    min-height: 270pt;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    border-style: none;
    border-spacing: 0px;
    background-repeat: no-repeat;
}

    table.frogaTBL {
        width: 360pt;
        min-width: 360pt;
        height: 270pt;
        min-height: 270pt;
        align-content: center;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        border-style: none;
        border-spacing: 0px;
        background-repeat: no-repeat;
    }

tr {
    /*
        width: 72%;
        min-width: 360pt;
        background-size: 100% 100%;
    */
    width: 72%;
    min-width: 360pt;
    height: 27pt;
    min-height: 27pt;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    border-style: none;
    border-spacing: 0px;
    border-width: 0px;
    background-repeat: no-repeat;
}

    tr.frogaTR {
        /*
            width: 72%;
            min-width: 360pt;
            background-size: 100% 100%;
        */
        width: 360pt;
        min-width: 360pt;
        height: 27pt;
        min-height: 27pt;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        border-style: none;
        border-spacing: 0px;
        border-width: 0px;
        background-repeat: no-repeat;
    }


td {
    width: 36pt;
    min-width: 36pt;
    height: 27pt;
    min-height: 27pt;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    border-style: none;
    border-spacing: 0px;
    border-width: 0px;
    background-repeat: no-repeat;
    /*
        background-size: 100% 100%;
    */
}

    td.frogaTD {
        width: 36pt;
        min-width: 36pt;
        height: 27pt;
        min-height: 27pt;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        border-style: none;
        border-spacing: 0px;
        border-width: 0px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }


img {
    width: 36pt;
    min-width: 36pt;
    height: 27pt;
    min-height: 27pt;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    border-style: none;
    border-spacing: 0px;
    border-width: 0px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

    img.frogaIMGWood {
        width: 36pt;
        min-width: 36pt;
        height: 27pt;
        min-height: 27pt;
        visibility: visible;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        border-style: none;
        border-spacing: 0px;
        border-width: 0px;
        background-repeat: no-repeat;
        z-index: 100;
        /*
            backface-visibility: revert;
            background-size: 100% 100%;
        */
    }

    img.frogaIMGHeader {
        width: 240pt;
        min-width: 240pt;
        height: 36pt;
        min-height: 32pt;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        border-style: none;
        border-spacing: 0px;
        border-width: 0px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    img#aLeft, img#aRight {
        width: 32pt;
        min-width: 32pt;
        height: 27pt;
        min-height: 27pt;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        border-style: none;
        border-spacing: 0px;
        border-width: 0px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    img.frogaIMG {
        width: 36pt;
        min-width: 36pt;
        height: 27pt;
        min-height: 27pt;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        border-style: none;
        border-spacing: 0px;
        border-width: 0px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    img#frog0, img#frog1, img#frog2 {
        min-width: 36pt;
        min-height: 27pt;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        border-style: none;
        border-spacing: 0px;
        border-width: 0px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
