/*
    froga.css ©
    2023-11-05 by Heinrich Elsigan
    https://area23.at/froga/
    https://darkstar.work/froga/
    2023-11-12 last change 
*/

body.frogbody {
    width: 100%;
}

div.froga {
    width: 92%;
    min-width: 414pt;
    height: 84%;
    min-height: 378pt;
    line-height: normal;
    vertical-align: middle;
    /* 
            align-self: center;
            align-content: center;
            text-align: center;
            line-height: normal;        
            font-size: medium;
            table-layout: fixed;
            inset-block-start: initial;
            inset-block-start: auto;
        */
    border-style: none;
    border-color: white;
    color: white;
    border-spacing: 0pt;
    border-width: 0pt;
    background-color: black;
}

    div.froga.img {
        width: 8%;
        min-width: 36pt;
        height: 6%;
        min-height: 27pt;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        border-style: none;
        border-spacing: 0px;
        border-width: 0px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    div.froga.frogaHeader {
        width: 71.11%;
        min-width: 320pt;
        height: 8%;
        min-height: 36pt;
        align-content: center;
        line-height: normal;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        border-style: none;
        border-spacing: 0px;
        background-repeat: no-repeat;
    }

        div.froga.frogaHeader#headerLeft {
            height: 8%;
            min-height: 36pt;
            width: 19.11%;
            min-width: 86pt;
            vertical-align: middle;
            font-size: larger;
            text-align: right;
        }

        div.froga.frogaHeader#leftNotes {
            color: whitesmoke;
            width: 5.33%;
            max-width: 24pt;
            font-size: large;
        }

        div.froga.frogaHeader#frogsInWhole {
            color: greenyellow;
        }

        div.froga.frogaHeader#frogsLeft {
            color: aqua;
            visibility: hidden;
        }

        div.froga.frogaHeader#frogsDied {
            color: gainsboro;
        }

        div.froga.frogaHeader#headerCenter {
            height: 8%;
            min-height: 36pt;
            width: 66%;
            width: 297pt;
            min-width: 240pt;
            vertical-align: middle;
            font-size: medium;
            text-align: center;
        }

        div.froga.frogaHeader.headerImage {
            width: 53.33%;
            min-width: 240pt;
            height: 8%;
            min-height: 36pt;
            padding: 0 0 0 0;
            margin: 0 0 0 0;
            border-style: none;
            border-spacing: 0px;
            border-width: 0px;
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }

        div.froga.frogaHeader#headerRight {
            height: 7.11%;
            min-height: 36pt;
            width: 19.11%;
            min-width: 86pt;
            vertical-align: middle;
            font-size: larger;
            text-align: left;
        }

        div.froga.frogaHeader#frogsLevel {
            color: orangered;
        }

        div.froga.frogaHeader#frogaLevel {
            color: greenyellow;
        }

        div.froga.frogaHeader#rightNotes {
            color: whitesmoke;
            width: 5.33%;
            max-width: 24pt;
            font-size: large;
        }

    div.froga.frogaFooter {
        width: 92%;
        min-width: 414pt;
        /* height: 6%; */
        min-height: 27pt;
        text-align: center;
        background-color: black;
        align-content: center;
        font-size: medium;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        border-style: none;
        table-layout: fixed;
        inset-block-start: initial;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
    }

        div.froga.frogaFooter#spanLeft {
            height: 6%;
            min-height: 27pt;
            width: 50%;
            min-width: 225pt;
            vertical-align: middle;
            text-align: left;
        }

        div.froga.frogaFooter#spanRight {
            height: 6%;
            min-height: 27pt;
            width: 50%;
            min-width: 225pt;
            vertical-align: middle;
            text-align: right;
        }


table.frogaTable {
    width: 80%;
    min-width: 360pt;
    height: 60%;
    min-height: 270pt;
    align-content: center;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    border-style: none;
    border-spacing: 0px;
    background-repeat: no-repeat;
}

tr.frogaTr {
    width: 80%;
    min-width: 360px;
    height: 6%;
    min-height: 27px;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    border-style: none;
    border-spacing: 0px;
    border-width: 0px;
    background-repeat: no-repeat;
    /* background-size: 100% 100%; */
}

td.frogaTd {
    width: 8%;
    /* min-width: 36pt; */
    height: 6%;
    min-height: 27pt;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    border-style: none;
    border-spacing: 0px;
    border-width: 0px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

img.frogaWood {
    width: 100%;
    min-width: 36pt;
    height: 100%;
    min-height: 27pt;
    visibility: visible;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    border-style: none;
    border-spacing: 0px;
    border-width: 0px;
    background-repeat: no-repeat;
    z-index: 100;
    /* backface-visibility: revert; background-size: 100% 100%; */
}

img.frogaImage {
    width: 100%;
    min-width: 36pt;
    height: 100%;
    min-height: 27pt;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    border-style: none;
    border-spacing: 0px;
    border-width: 0px;
    background-repeat: no-repeat;
    /* background-size: 100% 100%; */
}

img.frogaImageWhole {
    width: 100%;
    min-width: 36pt;
    height: 100%;
    min-height: 27pt;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    border-style: none;
    border-spacing: 0px;
    border-width: 0px;
    background-repeat: no-repeat;
    /* background-size: 100% 100%; */
}

img.frogaImage#frog0,
img.frogaImage#frog1,
img.frogaImage#frog2,
img.frogaImage#frog3 {
    width: 100%;
    min-width: 36pt;
    height: 100%;
    min-height: 27pt;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    border-style:;
    border-spacing: 0px;
    border-width: 0px;
    background-repeat: no-repeat;
    /* background-size: 100% 100%; */
}


img#aUp,
img#aDown,
img#aLeft,
img#aRight {
    width: 7.11%;
    min-width: 32pt;
    height: 6%;
    min-height: 27pt;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    border-style: none;
    border-spacing: 0px;
    border-width: 0px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
