/*
    froga.css ©
    2023-11-05 by Heinrich Elsigan
    https://area23.at/froga/froga.html
    https://darkstar.work/froga/
    2023-11-12 last change 
*/
/*
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    border-style: none;
    border-spacing: 0;
    border-width: 0;
*/


body.frogbody {
    color: white;
    background-color: black;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    border-style: none;
    border-spacing: 0px;
    border-width: 0px;
    border-color: transparent;
}

div.froga {
    width: 86%;
    min-width: 387px;
    height: 84%;
    min-height: 378px;
    line-height: normal;
    vertical-align: middle;
    color: white;
    background-color: black;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    border-style: none;
    border-spacing: 0px;
    border-width: 0px;
    border-color: transparent;
}

    div.froga.img {
        width: 8%;
        min-width: 36px;
        height: 6%;
        min-height: 27px;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        border-style: none;
        border-spacing: 0px;
        border-width: 0px;
        border-color: transparent;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    div.froga.frogaHeader {
        width: 90%;
        min-width: 360px;
        height: 10%;
        min-height: 45px;
        align-content: center;
        font-size: medium;
        line-height: normal;
        border-color: white;
        color: white;
        background-color: black;
        background-repeat: no-repeat;
    }

div.frogaHeader#headerLeft {
    height: 10%;
    min-height: 45px;
    width: 27%;
    min-width: 90px;
    vertical-align: middle;
    font-size: larger;
    text-align: right;
}

div.frogaHeader#headerCenter {
    height: 10%;
    min-height: 45px;
    width: 64%;
    min-width: 297px;
    vertical-align: middle;
    font-size: medium;
    text-align: center;
}

div.frogaHeader.headerImage {
    width: 60%;
    min-width: 270px;
    height: 10%;
    min-height: 45px;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    border-style: none;
    border-spacing: 0px;
    border-width: 0px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

div.frogaHeader#headerRight {
    height: 10%;
    min-height: 45px;
    width: 19.11%;
    min-width: 86px;
    vertical-align: middle;
    font-size: larger;
    text-align: left;
}


img.frogsInImg {
    width: 32px;
    height: 27px;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    border-style: none;
    border-spacing: 0px;
    border-width: 0px;
    border-color: transparent;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

span#leftNotes {
    color: whitesmoke;
    width: 5.33%;
    max-width: 24px;
    font-size: large;
}

span#frogsInHole {
    color: greenyellow;
    width: 32px;
    margin-left: -18px;
    padding-right: 6px;
    font-weight: bold;
}

span#frogsLeft {
    color: aqua;
    width: 32px;
    margin-left: -18px;
    padding-right: 2px;
    font-size: large;
    /*visibility: hidden; */
}

span#frogsDied {
    color: gainsboro;
    width: 32px;
    font-size: medium;
    font-weight: bold;
    margin-left: -18px;
    padding-right: 4px;
}

span#frogsLevel {
    color: orangered;
    font-size: larger;
}

span#frogaLevel {
    color: greenyellow;
    font-size: larger;
}

span#rightNotes {
    color: whitesmoke;
    width: 5.33%;
    max-width: 24px;
    font-size: large;
}


div.froga.frogaFooter {
    width: 80%;
    min-width: 360px;
    height: 8%;
    min-height: 36px;
    text-align: center;
    font-size: medium;
    background-color: black;
    align-content: center;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    border-style: none;
    border-spacing: 0px;
    border-width: 0px;
    border-color: transparent;
    table-layout: fixed;
    inset-block-start: initial;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
}

    div.froga.frogaFooter#spanLeft {
        height: 8%;
        min-height: 36px;
        width: 40%;
        min-width: 180px;
        vertical-align: middle;
        text-align: left;
    }

    div.froga.frogaFooter#spanRight {
        height: 8%;
        min-height: 36px;
        width: 40%;
        min-width: 180px;
        vertical-align: middle;
        text-align: right
    }


table.frogaTable {
    width: 92%;    
    max-width: 92%;
    min-width: 360px;
    height: 69%;
    min-height: 270px;
    align-content: center;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    border-style: none;
    border-spacing: 0px;
    border-width: 0px;
    border-color: transparent;
    background-repeat: no-repeat;
}

tr.frogaTr {
    width: 92%;
    min-width: 360px;
    height: 6.9%;
    min-height: 27px;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    border-style: none;
    border-spacing: 0px;
    border-width: 0px;
    border-color: transparent;
    background-repeat: no-repeat;
    /* background-size: 100% 100%; */
}

tr.frogaTrUpStreet {
    width: 9.2%;
    min-width: 360px;
    height: 6.9%;
    min-height: 27px;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    border-style: none;
    border-spacing: 0px;
    border-width: 0px;
    border-color: transparent;
    background-repeat: no-repeat;
    /* background-size: 100% 100%; */
}

td.frogaTd {
    width: 9.2%;
    min-width: 36px;
    height: 6.9%;
    min-height: 27px;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    border-style: none;
    border-spacing: 0px;
    border-width: 0px;
    border-color: transparent;
    /* background-repeat: no-repeat; */
    background-size: 100% 100%;
}


td.upStreetTd {
    width: 9.2%;
    min-width: 36px;
    height: 6.9%;
    min-height: 27px;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    border-style: none;
    border-spacing: 0px;
    border-width: 0px;
    border-color: transparent;
    border-top-style: double;
    border-top-color: #a78d8d;
    border-top-width: 2px;
    border-bottom-style: dashed;
    border-bottom-color: #a78d8d;
    border-bottom-width: 1px;
    background-color: #f0d3d3;
    /* background-repeat: no-repeat; */
    background-size: 100% 100%;
}

td.downStreetTd {
    width: 9.2%;
    min-width: 36px;
    height: 6.9%;
    min-height: 27px;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    border-style: none;
    border-spacing: 0px;
    border-width: 0px;
    border-color: transparent;
    border-top-style: dashed;
    border-top-color: #a78d8d;
    border-top-width: 1px;
    border-bottom-style: double;
    border-bottom-color: #a78d8d;
    border-bottom-width: 2px;
    background-color: #f0d3d3;
    /* background-repeat: no-repeat; */
    background-size: 100% 100%;
}


img.frogaImage,
img.frogaWood {
    width: 100%;
    min-width: 36px;
    height: 100%;
    min-height: 27px;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    border-style: none;
    border-spacing: 0px;
    border-width: 0px;
    border-color: transparent;
    background-repeat: no-repeat;
    /* background-size: 100% 100%; */
}

    img.frogaImage#frog0,
    img.frogaImage#frog1,
    img.frogaImage#frog2,
    img.frogaImage#frog3 {
        width: 100%;
        min-width: 36px;
        height: 100%;
        min-height: 27px;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        border-style: none;
        border-spacing: 0px;
        border-width: 0px;
        border-color: transparent;
        background-repeat: no-repeat;
        /* background-size: 100% 100%; */
    }


img#aUp,
img#aDown,
img#aLeft,
img#aRight {
    width: 7.11%;
    min-width: 32px;
    height: 6%;
    min-height: 27px;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    border-style: none;
    border-spacing: 0px;
    border-width: 0px;
    border-color: transparent;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
